.container {
  @apply w-screen h-screen flex items-center justify-center;
  .step {
    @apply mx-auto my-0 px-16 py-12 inline-flex flex-col justify-center items-center bg-white rounded-2xl shadow-md;
    .head {
      @apply mb-5 flex flex-col items-center;
    }
    .emoji {
      @apply mb-2 w-12 h-12;
    }
    .title {
      @apply text-xl font-bold text-zinc-900;
    }
    .description {
      @apply text-xs text-zinc-700;
    }
    .block {
      @apply flex flex-col text-center items-center;
      .inputs {
        @apply mb-5 gap-1 flex items-center;
      }
      .input {
        @apply w-11 h-12 p-3 text-xl text-center text-zinc-900 border-2 border-zinc-300 rounded-xl outline-none shadow-md
        focus:border-blue-500 placeholder:text-inherit focus:placeholder:text-transparent transition-colors duration-200;
      }
      .navbar {
        @apply w-full flex items-center justify-center;
      }
      .terms {
        @apply mt-3.5 text-xs text-zinc-500;
      }
    }
  }
}
