.block {
  @apply mx-0 my-auto gap-0.5 z-20 translate-y-5 flex items-start justify-between;
  .settings {
    width: 30rem;
    @apply px-10 py-8 gap-4 flex flex-col rounded-2xl bg-white;
    .preview {
      @apply pt-2 pb-4 px-8 gap-4 flex border-b-2;
      label {
        @apply rounded-2xl overflow-hidden cursor-pointer flex items-center justify-center relative;
        &::before {
          content: '';
          inset: 0;
          position: absolute;
          z-index: 10;
          transition: all 150ms ease-in-out;
        }
        &:hover::before {
          backdrop-filter: blur(1.5px);
          background-color: rgba($color: #000000, $alpha: 0.55);
        }
        &:hover .icon {
          @apply opacity-100;
        }
        .icon {
          @apply w-8 h-8 opacity-0 z-50 text-white absolute transition-all duration-500;
        }
      }
      .names {
        @apply mr-4 max-w-[14rem] self-center truncate;
        h2 {
          @apply text-xl font-extrabold truncate;
        }
        span {
          @apply opacity-40 text-base font-bold truncate;
        }
      }
    }
    .section {
      @apply inline-flex flex-col;
      .option {
        @apply mb-1.5 text-lg font-bold;
      }
      .input {
        @apply w-full px-4 py-2 text-lg border-2 border-zinc-200 rounded-md shadow-sm outline-none relative transition-all duration-300
        focus:border-blue-500;
      }
      .textarea {
        @apply w-full mb-2 px-4 py-2 text-lg border-2 border-zinc-200 rounded-md shadow-sm outline-none relative transition-colors duration-300
        focus:border-blue-500;
      }
      .error {
        @apply border-red-500 focus:border-red-500;
      }
      .notification {
        @apply pl-2 gap-1 flex items-center text-left text-red-500;
      }
    }
  }
  .close {
    @apply w-12 h-12 pt-2 z-20 cursor-pointer self-start text-zinc-200 hover:text-white transition-colors duration-200;
  }
}
